{% extends 'precision/base.html' %}
{% load staticfiles %}


{% block title %} Quality Printing Services {% endblock %}
{% block active %} class = "active"{% endblock %}

{% block head_content %}
    <link href="{% static 'precision/css/carousal.css' %}" media="print, screen" rel="Stylesheet"
          type="text/css"/>





{% endblock %}


{% block body_content %}


    <div data-hp07rotate="6" class="hp07v0 hp07violator">
        <div class="hp07w1">

            <div class="hp07w2">
                <!-- HP07v1 -->
                <div data-bgimg2x=""
                     data-bgimg="{% static 'precision/images/3Dprinter.JPG' %}"
                     class="hp07">
                    <div class="hp07w3">
                        <h2>For the best quality printing</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur dolorum explicabo illum
                            odio rem. Beatae dicta ducimus, eveniet facere facilis in inventore itaque recusandae
                            similique sint suscipit, tempore ut voluptates.
                        </p>

                        <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>

                    </div>
                </div>
                <!-- /HP07v1 -->

                <!-- HP07v1 -->
                <div data-bgimg2x=""
                     data-bgimg="{% static 'precision/images/offsetprinting.jpg' %}"
                     class="hp07">
                    <div class="hp07w3">
                        <h2>At the lowest cost</h2>
                        <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Atque deleniti doloribus et, eum
                            ipsum laborum, laudantium magni minus officiis, porro quia quisquam sit temporibus totam
                            veniam. Laudantium maiores obcaecati odio.
                        </p>

                        <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>

                    </div>
                </div>
                <!-- /HP07v1 -->


            </div>
        </div>
    </div>


    {% comment %}    <div id="carousel-example" class="carousel slide" data-ride="carousel">
        <ol class="carousel-indicators">
            <li data-target="#carousel-example" data-slide-to="0" class="active"></li>
            <li data-target="#carousel-example" data-slide-to="1"></li>
            <li data-target="#carousel-example" data-slide-to="2"></li>
            <li data-target="#carousel-example" data-slide-to="3"></li>
        </ol>

        <div class="carousel-inner">
            <div style = "position: relative; max-height: 300px ; overflow: hidden;"  class="item active">
                <a href="#"><img src="{% static 'precision/images/shutterstock.jpg' %}"  /></a>
                <div class="carousel-caption">
                    <h3>Title</h3>
                    <p>Caption</p>
                </div>
            </div>

              <div class="item">
                <a href="#"><img class="img-responsive" src="http://placehold.it/1600x600"/></a>
                <div class="carousel-caption">
                    <h3>Title</h3>
                    <p>Caption</p>
                </div>
            </div>

              <div class="item">
                <a href="#"><img class="img-responsive" src="http://placehold.it/1600x600"/></a>
                <div class="carousel-caption">
                    <h3>Title</h3>
                    <p>Caption</p>
                </div>
            </div>


              <div class="item">
                <a href="#"><img class="img-responsive" src="http://placehold.it/1600x600"/></a>
                <div class="carousel-caption">
                    <h3>Title</h3>
                    <p>Caption</p>
                </div>
            </div>

        </div>

        <a class="left carousel-control" href="#carousel-example" data-slide="prev">
            <span class="glyphicon glyphicon-chevron-left"></span>
        </a>
        <a class="right carousel-control" href="#carousel-example" data-slide="next">
            <span class="glyphicon glyphicon-chevron-right"></span>
        </a>
    </div>{% endcomment %}


    <!-- Offset Digital Printing Section -->
    <div id="service">
        <div class="container">
            <div class="row centered">
                <div style="padding: 0 0 20px 0" class="col-sm-12">
                    <h1 style="font: 36px Constantia; color: #4A90E2; text-align: center">
                        OFFSET & DIGITAL PRINTING
                    </h1>
                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="{% static 'precision/images/digitalprinter.jpg' %}" class="img-circle"
                         alt="digital" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2">DIGITAL SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>

                    <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>

                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="{% static 'precision/images/shutterstock.jpg' %}" class="img-circle" alt="offset"
                         width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2">OFFSET SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>
                </div>
                <div class="col-sm-4" style="padding: 0 0 10px 0">
                    <img src="{% static 'precision/images/bigstock-offset-printing-machine.jpg' %}" class="img-circle"
                         alt="offset" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2;">IN HOUSE DESIGN SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>
                    <a href="{% url 'precision:services' %}" class="btn btn-primary">More</a>
                </div>
            </div>
        </div>
        <! --/container -->
    </div><! --/service -->
    <!-- /.row -->



    <!-- Portfolio Section -->
    <div class="container-fluid" style="background-color: #E9E8EB;">
        <div class="container ">
            <div>

                <div class="row">
                    <div class="col-sm-12">
                        <h1 id='pageheader'>LEAVE THE HASSLE TO US</h1>
                    </div>
                </div>
                <div class="row">
                    <div class="col-sm-8 ">

                        <p>We are the best Printer in Jamaica for Annual Reports, News
                            Letters,
                            Brochures, Magazine printing Jamaica, Flyers printing Jamaica, Posters, Calendars printing
                            Jamaica, Leaflets, Envelopes, Stationery , Labels, concept Creation, Professional advice and
                            Consultation, Graphics Design, Preparation of Artwork, Writing, Proof Reading, High Quality
                            Full
                            Color Printing, Perfect Binding, Plate Output.</p>

                        <h2 id='pageheader'> Our Services</h2>
                        <hr>
                        <li>Concept Creation
                        </li>
                        <li>Professional Advice and Consultation
                        </li>
                        <li>Graphics Design
                        </li>
                        <li>Preparation of Artwork
                        </li>
                        <li>Proof Reading
                        </li>
                        <li>High Quaility Full Color Offset Printing
                        </li>
                        <li>Perfect Binding</li>
                        <li>Plate Output</li>

                    </div>
                    <div class="col-sm-4">
                        <img class="img-responsive" src="http://placehold.it/400x400" alt="">
                    </div>
                </div>
            </div>
        </div>

        <hr>
    </div>




    <!-- /.row -->








{% endblock %}



{% block script_content %}

    <script type="text/javascript" src="{% static 'precision/js/carousal.js' %}"></script>

    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}