{% extends 'precision/base.html' %}
{% load staticfiles %}

{% block title %} Homepage {% endblock %}

{% block body_content %}


    <div id="wrapper" class="container-dynamic">

        <img class="img-responsive" alt="front-machine" src="{% static 'precision/images/offset.jpg' %}">

    </div>


    <!-- Offset Digital Printing Section -->
    <div id="service">
        <div class="container">
            <div class="row centered">
                <div style="padding: 0 0 30px 0" class="col-sm-12">
                    <h1 style="font: 36px Constantia; color: #4A90E2; text-align: center">
                        OFFSET & DIGITAL PRINTING
                    </h1>
                </div>
                <div class="col-sm-4">

                    <img src="{% static 'precision/images/Large_format_digital_printer.jpg' %}" class="img-circle"
                         alt="digital" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2">DIGITAL SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>

                </div>
                <div class="col-sm-4">
                    <img src="{% static 'precision/images/shutterstock.jpg' %}" class="img-circle" alt="offset"
                         width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2">OFFSET SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>

                </div>
                <div class="col-sm-4">
                    <img src="{% static 'precision/images/bigstock-offset-printing-machine.jpg' %}" class="img-circle"
                         alt="offset" width="180" height="180">
                    <h4 style="padding: 15px 0 15px 0; color: #4A90E2;">IN HOUSE DESIGN SERVICE</h4>
                    <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been
                        the industry's standard dummy text ever since the 1500s, when an unknown printer took a galley
                        of type and scrambled it to make a type specimen book.</p>

                </div>
            </div>
        </div>
        <! --/container -->
    </div><! --/service -->
    <!-- /.row -->



    <!-- Portfolio Section -->
    <div class="portfolio">
        <div class="container">
            <div class="row">
                <div style="padding: 15px 0 50px 0" class="col-sm-4 ">


                    <h1 id='pageheader'>LEAVE THE HASSLE TO US !</h1>

                    <p style="padding: 15px 0 0 0">We are the best Printer in Jamaica for Annual Reports, News Letters,
                        Brochures, Magazine printing Jamaica, Flyers printing Jamaica, Posters, Calendars printing
                        Jamaica, Leaflets, Envelopes, Stationery , Labels, concept Creation, Professional advice and
                        Consultation, Graphics Design, Preparation of Artwork, Writing, Proof Reading, High Quality Full
                        Color Printing, Perfect Binding, Plate Output.</p>
                </div>
                <div style="padding: 40px 0 50px 0" class="col-sm-8 centered">
                    <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. A atque consectetur debitis eaque et,
                        ex
                        fuga harum, impedit laboriosam minima molestias non odit omnis sequi unde. Rem repellat
                        temporibus
                        voluptates.</p>
                </div>
            </div>
        </div>
    </div>

    <!-- /.row -->








{% endblock %}



{% block script_content %}


    <!-- Script to Activate the Carousel -->
    <script>
        $('.carousel').carousel({
            interval: 5000 //changes the speed
        })
    </script>

{% endblock %}