{% extends "precision/base.html" %}
{% load staticfiles %}
{% block title %}
    Request a Quote
{% endblock %}

{% block active2 %}class="active" {% endblock %}

{% block body_content %}



    <!-- Page Content -->
    <div class="container">

        <!-- Page Heading/Breadcrumbs -->
        <div class="row">
            <div class="col-lg-12">
                <h1 class="page-header">Request a Quote

                </h1>
                <ol class="breadcrumb">
                    <li><a href="{% url 'precision:index' %}">Home</a>
                    </li>
                    <li class="active">Request a Quote</li>
                </ol>
            </div>
        </div>
        <!-- /.row -->

        <!-- Content Row -->

        <form name="Quote" id="contactForm">
        <div class="form-group">

            <div class="row">


                <div class="col-xs-4">
                    <div class="form-group">
                        <label for="fname">First Name:</label>
                        <input type="text" class="form-control" placeholder="First Name">
                    </div>

                    <div class="form-group">
                        <label for="lname">Last Name:</label>
                        <input type="text" class="form-control" placeholder="Last Name">
                    </div>

                    <div class="form-group">
                        <label for="companyName">Company Name:</label>
                        <input type="text" class="form-control">
                    </div>


                    <div class="control-group form-group">
                        <div class="controls">
                            <label>Email Address:</label>
                            <input type="email" class="form-control" id="email" required data-validation-required-message="Please enter your email address.">
                        </div>
                    </div>

                    <div class="form-group">
                        <label for="exampleInputPassword1">Phone Number:</label>
                        <input type="tel" class="form-control" id="exampleInputPassword1">
                    </div>

                </div>
            </div>

        </div>
        <div class="row">
            <div class="col-xs-8">
                <div class="control-group form-group">
                    <div class="controls">
                        <label>Message:</label>
                        <textarea rows="10" cols="100" class="form-control" id="message" required
                                  data-validation-required-message="Please enter your message" maxlength="999"
                                  style="resize:none"></textarea>
                    </div>
                </div>
                <div id="success"></div>
                <!-- For success/fail messages -->
            </div>
        </div>
        <div class="form-group">

            <button type="submit" class="btn btn-primary">Submit</button>
        </div>

        </form>
        <!-- /.row -->

        <hr>

    </div>
    <!-- /.container -->


{% endblock %}

{% block script_content %}
        <!-- Contact Form JavaScript -->
         <!-- Do not edit these files! In order to set the email address and subject line for the contact form go to the bin/contact_me.php file. -->
        <script src="{% static 'precision/js/jqBootstrapValidation.js' %}"></script>
         <script src="{% static 'precision/js/contact_me.js' %}"></script>
{% endblock %}